h1{
  font-family: "Palatino";
}

p {
   font-family: 'AlexBrushRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 30px;
}

/*
p{
  font-family: 'Permanent Marker', cursive;
}
body{
  font-size: 20px;
}

#two{
  font-size: 1.0em;

}

p{
  font-style: italic;
  font-weight: bold;
}

h1{
  text-align: center;
}*/
/*Em value is a dynamic way of setting font sizes based on a defualt value   */
